:root {
	--main-bg-color: #204977;
	--main-bg-color-dark: #2b63a3;
}


.footer {
	background-color: var(--main-bg-color);
}

header {
	background-color: transparent;
}

.progress-bar {
	background: transparent;
}

.contact_btn {
	background-color: var(--main-bg-color);
}

.contact_btn:hover {
	background-color: var(--main-bg-color-dark);
}

.text_left_border {
	border-left: solid var(--main-bg-color);
}

/* header a:hover {
	background-color: var(--main-bg-color-dark);
} */