.navbar{
    padding-left: 15px;
    padding-right: 15px;
}

/* To disable blank at the to of the page */

* {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}

/*********************************************************************************/

/* To create a footer at the footer of the page whatever the size */

body {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	padding-bottom: 3.5rem;
	overflow-x: hidden;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 1.0rem; 
	padding-bottom: 1.0rem; 
	margin: 0 auto;
	display: block;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	color: white;
}

/*********************************************************************************/

/* Top nav bar */

header {
	overflow: hidden;
	position: fixed;
	top:0;
	/* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
	width: 100%;
	z-index: 2;
}

header ul {
	list-style-type: none;
	text-align: center;
	width: 100%;
}

header a {
	/* float: left; */
	/* color: #3a3a3a; */
	color: white;
	text-align: center;
	padding: 5px 27px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;
}

header ul.at_right a {
	float: right;
}

/*********************************************************************************/

/* Animations Opacity HTML*/

html {
	animation: opac 1s;
}

@keyframes opac {
	from {
		opacity:0
	}
	to {
		opacity:1
	}
}

/*********************************************************************************/

/* Title Animations */

.logo_leaf {
	position: relative;
	animation: hey_bottom 1s;
    width: 230px;
}

.main_dot_title {
	font-weight: 100;
	font-size: 18px;
}

.main_title {
	position: relative;
	animation: hey_top 1s;
}

.main_sub_title {
	color: #757575;
	line-height: 0.5;
	font-weight: 400;
	font-size: 18px;
	position: relative;
	animation: hey_top 1s;
	margin-bottom: 30px;
}

@keyframes hey_top {
	from {
		top: +25px;
		opacity:0;
	}
	to {
		opacity:1;
		top: 0px;
	}
}

@keyframes hey_bottom {
	from {
		top: -25px;
		opacity:0;
	}
	to {
		opacity:1;
		top: 0px;
	}
}


/*********************************************************************************/

/* Main mannager */

html {
	user-select: none;
	color: #3a3a3a;
	line-height: 1.8;
	height: 100%;
	scroll-behavior: smooth;
	line-height: 1.8;
}

main {
	text-align: center;
	overflow-x: clip;
}

h2,h3,h4 {
	font-weight: 400;
}

h3 {
	padding-top:14px;
	padding-bottom:24px;
}

a {
	text-decoration: none;
	color: #3a3a3a;
}

/*********************************************************************************/

/* Device screen width responsive */

/*Hide for ... large, medium, small*/
@media (min-width:993px) {
	.hide-large {display: none;}
	.width-resp_card {width: 33.33333%;}
	.row-element {width:25%;}
	.image-resp {width:60%;}
	.boots-inpt-text {width:25%;}
	.resp_text{padding-left:20%;padding-right:20%;}
}

@media (max-width:992px) and (min-width:691px) {
	.hide-medium {display: none;}
	.width-resp_card {width: 33.33333%;}
	.row-element {width:25%;}
	.image-resp {width:60%;}
	.boots-inpt-text {width:50%;}
	.resp_text{padding-left:10%;padding-right:10%;}
}

@media (max-width: 690px) {
	.hide-small {display: none;}
	.width-resp_card {width: 90%;}
	.row-element {width:100%;}
	.image-resp {width:100%;}
	.boots-inpt-text {width:91%;}
}

/*********************************************************************************/

/* Modal Gestion*/

.modal {
	display: none;
	opacity:0;
	position: fixed;
	z-index: 25;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal:target {
	display: block;
	animation: modal_open 0.5s both;
}

@keyframes modal_open {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}


.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	padding: 0;
	border-radius: 8px;
	margin-bottom: 20%;
}

.modal-content-content {
	margin: 30px;
}

.close {
	font-weight: bold;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border-radius: 2px;
	float: right;
}

a .close:hover {
	color: #ccc;
}

/*********************************************************************************/

/* Modal mail */

.form-online {
	margin-top: 10px;
}

.boots-inpt-text {
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boots-inpt-btn {
	margin-top: 10px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*********************************************************************************/

/* Progress bar JS! and CSS */

.mobile { 
	z-index: 3;
}

header {
	z-index: 3;
}

.progress-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: rgb(238, 238, 238);
}

.progress-bar {
	height: 3px;
	width: 0%;
}

.content {
	padding: 100px 0;
	margin: 50px auto 0 auto;
	width: 80%;
}

/*********************************************************************************/

/* CV Section */

div.main_img {
	margin: 0 auto;
	display: block;
	margin-top: 1%;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	border-radius: 10px;
	overflow: hidden;
}

.text_card h3 {
	color: #3a3a3a !important;
}

div.main_img img {	
	height: auto;
	width: 100%;
	transition: 0.5s;
	image-orientation: from-image;
}

div.main_img img:hover {	
	opacity: 0.5;
}

div.text_card {
	padding: 2%;
}

div.main_img h3 {
	font-weight: 400;
	font-size: 20px;
}

div.text_card h4 {
	color: #c0c0c0;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 4%;
}

div.text_card p {
	font-size: 15px;
	line-height: 1.4;
}

.btn_card {
	background-color: #f1f1f1;
	color: #3a3a3a;
	transition: 0.5s;
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	font: inherit;
	border: none;
	font-size: 15px;
	margin-top: 4%;
	transition: 0.5s;
}

.btn_card:hover {
	background-color: #ccc;
}


.btn_card .fa {
	font-size: 15px !important;
}

/*********************************************************************************/

/* Logo from font awsome */

.big {
	font-size: 64px !important;
	color: #31ad38;
}

.fa-trophy {
	color: #d2be0e;
}

.fa-snapchat-ghost {
	color: #d2be0e;
}


.fa-envelope   {
	color: #31ad38;
}

.small {
	margin-right: 6px !important;
}

.white {
	color: white;
}

/*********************************************************************************/

/* Menu modal phone */

.menu-modal {
	display: none;
	position: fixed;
	z-index: 25;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	transition: 0.5s;
}

.menu-modal-content {
	position: absolute;
	right: 0;
	height: 100%;
	width: 40%;
	padding: 0;
	background-color: #fefefe;
}

.menu-modal:target {
	display: block;
}

.menu-modal:target .menu-modal-content{
	animation: hey_right 0.5s both;
}

@keyframes hey_right {
	from {
		right: -50px;
		opacity:0;
	}
	to {
		opacity:1;
		right: 0px;
	}
}

.modal:target {
	display: block;
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	padding: 0;
	border-radius: 8px;
	margin-bottom: 20%;
}

.modal-content-content {
	margin: 30px;
}

/*********************************************************************************/

/* Contact btn */

.contact_btn {
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
	font-size: 15px;
	border: none;
	color: #fff !important;
	transition: 0.4s;
}


.contact_btn:hover {
	transform: scale(0.9);
}

.empty_btn {
	border-radius: 10px;
	padding: 20px;
	cursor: pointer;
	font-size: 15px;
	border: none;
	background-color: #ff3838 !important;
	color: #fff !important;
	transition: 0.4s;
}

.empty_btn:hover {
	background-color: #b81818 !important;
	transform: scale(0.9);
}

/*********************************************************************************/

.bg-resto {
	overflow: hidden;
	width: 100%;
	background-image: url(resto.jpg);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.bg-resto2 {
	overflow: hidden;
	width: 100%;
	background-image: url(resto2.jpg);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}

.image_menu {
	max-width: 150px;
	border-radius: 10px;
    height: 78px;
}

.hscale {
	transition: 0.3s;
}

.hscale p{
	padding-left:10px;
	padding-right:10px;
}

.hscale:hover {
	transform: scale(1.1);
	cursor: pointer;
	/* cursor: url(fuck.cur), pointer; */
}

.mrtel {
	margin-left: 10px;
}

/* Boder and text */

.text_left {
	text-align: left;
	padding-left: 10px;
}*

.text_left_border {
	margin-left: 10px;
}

.text_left_border p {
	padding-left: 10px;
	padding-right: 10px;
}

/*********************************************************************************/

.ne-scale.ne-transition {
	animation: ne_zoomIn 0.5s;
	opacity: 1 !important;
}

.ne-scale {
	opacity: 0 !important;
}

@keyframes ne_zoomIn {
	 0% {
		opacity:0;
		transform:scale(0.3);
	}
	50% {
		opacity:1;
	}
	 100% {
		opacity:1;
		transform:scale(1);
	}
}

.map_image {
	max-width:90%;
	margin-top: 10px;
}

.list .name {
	float: left;
}

.list .price {
	float: right;
}

.list {
	display: inline-block;
	width:100%;
}

.ne_take {
	transition: 3s;
}

@keyframes ne_take {
	 0% {
		opacity:0;
	}
	50% {
	}
	 100% {
		opacity:1;
	}
}

img {
    max-width: 90%;
}

.main {
    padding-bottom: 30px;
}

/*********************************************************************************/

#main {
	overflow: hidden;
	position: relative;
	width: 100%;
	background-image: url("../img/labo.png");
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 100vh;
}

body {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

header.scroll .logo_nav {
	height: 50px;
}

header{
	transition: 1s;
}

header.scroll {
	background-color: #204977;
}

header .logo_nav {
	transition: 1s;
	height: 100px;
}

#main div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
	width: 500px;
	padding-bottom: 50px;
	padding-top: 50px;
	max-width: 85%;
	transition: translate 0.2s;
	z-index: 2;
}

#main h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	letter-spacing: 0.2em;
	text-indent: 0.200em;
	color: white;
	font-weight: 100;
}

#main h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	letter-spacing: 0.6em;
	text-indent: 0.200em;
	color: white;
	font-weight: 100;
}

#main hr {
	height: 1.25px;
	margin: auto;
	padding: 0;
	/* color: #585858; */
	color: white;
	/* background-color: #585858; */
	background-color: rgb(27, 151, 223);
	border: 0;
	width: 340px;
	max-width: 90%;
	opacity: 0.50;
	/* animation: 0.5s linear 0.75s grow both; */
	animation: 0.5s linear 0.75s grow both;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #00356B00;
  z-index: 1;
}